.displayWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 150px;
    background-color: pink;
    border-radius: 10px;

    font-size: 25px;
    font-weight: bold;
}

.number {
}

.text {
    text-align: center;
}

.error {
    color: red;
    font-size: 30px;
}