.SuperInput {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
    gap: 10px;
}

.text {
    font-size: 20px;
    font-weight: bold;
}

.SuperInput input {
    width: 100px;
    font-size: large;
}