.SuperInput {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 60px;
    gap: 10px;
}

.text {
    font-size: 20px;
    font-weight: bold;
}

.input {
    width: 50px;
    font-size: large;
    padding-left: 25px;
}

.error {
    border: 2px solid red;
}